<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    @font-face {
      font-family: "ApfelGrotezk";
      src: url("{{assetsUrl}}/static/ApfelGrotezk-Fett.woff2") format("woff2"),
      url("{{assetsUrl}}/static/ApfelGrotezk-Fett.woff") format("woff");
    }

    body {
      font-family: "ApfelGrotezk", sans-serif;
    }
  </style>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            ApfelGrotezk:
              ["ApfelGrotezk"]
          }, colors: {
            primary: {
              50: "#4d75ef", 100: "#436be5",
              200: "#3961db", 300: "#2f57d1", 400: "#254dc7", 500: "#1b43bd", 600:
                "#1139b3", 700: "#072fa9", 800: "#00259f", 900: "#001b95",
            }, secondary: {
              50: "#ffbaba", 100: "#ffb0b0", 200: "#ffa6a6", 300: "#f89c9c", 400:
                "#ee9292", 500: "#e48888", 600: "#da7e7e", 700: "#d07474", 800: "#c66a6a",
              900: "#bc6060",
            }, accent: {
              50: "#9dffff", 100: "#93ffff", 200:
                "#89fffa", 300: "#7ffff0", 400: "#75ffe6", 500: "#6bffdc", 600: "#61f5d2",
              700: "#57ebc8", 800: "#4de1be", 900: "#43d7b4",
            }, danger: "#de4343",
          },
        },
      },
    };
  </script>
  <title>Izipass - votre passeport financement</title>
</head>

<body class="relative w-screen h-screen font-ApfelGrotezk">
  {{! background image }}
  <div class="absolute inset-0 bg-center bg-no-repeat bg-cover"
    style="background-image: url('{{assetsUrl}}/static/attestation-bg.png');"></div>
  <div class="fixed right-6 top-6 text-xs">Paris, le {{createdAt}}</div>
  <div class="fixed inset-x-0 text-center text-primary-500 top-[22rem]">
    <span class="font-bold text-xl">
      {{certificate.first_name}}
      {{certificate.last_name}}
      {{#if certificate.second_first_name}}&
      {{certificate.second_first_name}}{{/if}}
      {{#if
      certificate.second_last_name
      }}{{certificate.second_last_name}}{{/if}}</span>
  </div>
  <div class="fixed inset-x-0 top-[26rem] space-x-4 text-xl flex justify-center px-12 text-primary-500">
    <div class="flex space-x-2">
      <img src="{{assetsUrl}}/static/sidebar-bg.svg" alt="sidebar" />
      <span>Capacité d'achat -
        <span>{{certificate.project_price}}
        </span></span>

    </div>
    <div class="flex space-x-2">
      <img src="{{assetsUrl}}/static/sidebar-bg.svg" alt="sidebar" />
      <span>Montant emprunt -
        <span>{{certificate.loan_total_amount}}
        </span></span>
    </div>
  </div>

</body>

</html>