<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>La nuit du bien commun</title>
</head>

<body class="relative w-screen h-screen font_global pdf-image-container ">
    <img class="bg-ticket" src="{{ticket.image_ticket_url}}">

    <img class="absolute w-[214px] h-[214px] bg-center bg-no-repeat bg-cover right-[5%] top-[103px]"
        src="{{ticket.qr_code_url}}">
    <div
        class="text-black text-sm font-bold absolute w-[177px] h-[18px] text-center items-center justify-center flex-col right-[7%] top-[30%]">
        {{ticket.first_name}} {{ticket.last_name}}</div>
    <div class="">
    </div>


    <div class="text-white text-[13px] font-light absolute w-10 h-min flex-col left-10 top-[120px]">{{ticket.starts_at}}
    </div>
    <div class="text-white text-[13px] font-light absolute w-1 h-min flex-col left-[76px] top-[120px]">-</div>
{{#if (isdefined ticket.ends_at)}}    <div class="text-white text-[13px] font-light absolute w-[51px] h-min flex-col left-[88px] top-[120px]">
        {{ticket.ends_at}}</div>{{/if}}
    <div class="text-white text-[43px] font-bold absolute w-min h-min whitespace-nowrap flex-col left-10 top-[68px]">
        {{ticket.day}}</div>
    <div class="absolute w-min h-min whitespace-nowrap flex-col left-[103px] top-[75px]">
        <div class="text-white text-[15px] font-bold">{{ticket.month}}</div>
        <div class="text-white text-[15px] font-bold mt-0.5">{{ticket.year}}</div>

    </div>
    <div class="text-white text-[15px] font-bold absolute w-min h-min whitespace-nowrap flex-col left-10 top-[50px]">
        {{ticket.string_day}}</div>
    <div class="text-white text-xl font-black absolute w-min h-min whitespace-nowrap flex-col left-[175px] top-[50px]">
        {{ticket.event_name}}</div>
    <div class="text-white text-lg font-bold absolute w-min h-min whitespace-nowrap flex-col left-[175px] top-[85px]">
        {{ticket.place_name}}</div>
    <div class="absolute w-[57px] h-[57px] bg-center bg-no-repeat bg-cover right-[20%] bottom-[33%]"
        style="background-image: url('{{assetsUrl}}/accueil_obole.jpeg');"></div>
    
    <div class="origin-top-left absolute w-[220px] h-4 flex-col left-6 top-[350px] billet-edit_transform">
        <p class="text-[8px] shrink">
            <span class="text-black text-[8px] leading-5 font-extralight italic">Ce billet a été édité sur </span>
            <a class="text-black text-[8px] leading-5 font-extralight italic" href='http://kaypi.fr' target='_blank'
                rel='noreferrer'>
                kaypi.fr
            </a>
            <span class="text-black text-[8px] leading-5 font-extralight italic"> la billetterie d’</span>
            <a class="text-black text-[8px] leading-5 font-extralight italic" href='http://obole.eu' target='_blank'
                rel='noreferrer'>
                Obole.eu
            </a>
        </p>
    </div>
    <div class="absolute w-[221px] h-[117px] flex-col left-[12%] bottom-[12%]">
        <div class="text-[#001941] text-[10px] font-light mt-1">{{ticket.detail}}</div>

    </div>
    <div class="text-[#e7295c] text-[15px] font-medium capitalize absolute h-[15px] flex-col left-[15%] bottom-1/4">
        {{ticket.city}} - {{ticket.address}}</div>
    <div class="absolute w-[19px] h-[29px] bg-center bg-no-repeat bg-cover left-[12%] bottom-[24%]"
        style="background-image: url('{{assetsUrl}}/assets/position_obole.jpeg');"></div>
    
    <div
        class="origin-top-left text-black text-[8px] font-light absolute w-3 h-min text-center items-center flex-col right-[3%] top-[15%] billet-transform">
        BILLET_{{ticket.ticket_number}}</div>
    </div>
</body>

</html>
<style>
@page {
    size: A4;
    margin: 0;
}
   
  .billet-transform{
     transform: matrix(0, 1, -1, 0, 0, 0);
  }
  .billet-edit_transform{transform: matrix(0, 1, -1, 0, 0, 0);}

  .pdf-image-container {
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    text-align: center;
}
.pdf-image-container .bg-ticket {
    width: 100%;
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
</style>